<<<<<<< HEAD
<body>
    <link rel="stylesheet" href="css/cadastro.css">
    <form method="post"  action="/cadastro">
    
        <h2>Eucalyptus</h2>
        <div id="mae">
            <label class="input">
                <span>Nome:</span>
                <input class="focus"  type="text" name="nome" id="nome"  placeholder="Nome completo">
            </label>
            <label  class="input">
                <span>E-mail:</span>
                <input class="focus" type="text" name="email" id="email" placeholder="Digite o seu email">
            </label>
            <label  class="input" >
                <span>Senha:</span>
                <input class="focus" type="password" name="senha" id="senha"  placeholder="Digite a sua Senha"></input>
            </label>
            <label  class="input">
                <span>Confirmação da Senha:</span>
                <input class="focus" type="password" name="confirmacao" id="confirmacao"  placeholder="Confirme sua Senha">
            </label>
            <div class="controles">
                <a href="/login">Ir para a tela de login</a>
                <button type="submit">Entrar</button>
            </div>
        </div>
    </form>
</body>
</html>
=======
<%- include("partes/head") %>

    <body>
        <link rel="stylesheet" href="css/eucalipto-foto.jpg.css">
        <link rel="stylesheet" href="css/cadastro.css">
        <main>
            <div class="cadastro">
                <form action="/cadastro" method="post">
                    <div class="cadastrar">
                        <img src="img/Eucalyptus2.png" alt="">
                        <label>
                            <label class="barnome">
                                <span class="nome">Nome</span>
                                <input type="text" name="nome" id="nome" placeholder="Informe seu nome">
                            </label>
                            <label class="baremail">
                                <span class="email">Email</span>
                                <input type="text" name="email" id="email" placeholder="Informe seu email">
                            </label>

                            <label class="barsenha ">
                                <span class="senha">Senha</span>
                                <input type="password" name="senha" id="senha" placeholder="Informe seu senha">
                            </label>

                            <div id="esqueceu">
                                <a href="/login" class="barEsqueci">Login</a>
                                <button type="submit">Cadastrar</button>
                            </div>
                        </label>
                    </div>
                </form>
            </div>
        </main>
    </body>

    </html>
>>>>>>> 3601064441844c968c08f1ab5667b99e127a8604
