<%-include("partes/head")%>

    <body>
        <link rel="stylesheet" href="css/finaliza.css">
        <%-include("partes/header")%>
            <div class="produtos">
                <form>
                    <div id="titulo">
                        <span><h3>Produtos</h3></span>
                        <img src="img/madeira1.jpg" alt="">
                        <input type="text" name="produto" id="produto">
                    </div>
 
                    <label class="frete ">
                        <span>frete</span>
                    </label>

                    <label class="preco total">
                        <span>total</span>
                    </label>
                </form>
            </div>
            <div class="formapagamento">
                
            </div>
        <button type="submit"> Confirmar Pagamento </button>
    </body>
</html>