<%-include("partes/head")%>

    <body>
        <%-include("partes/header")%>
            <link rel="stylesheet" href="css/finaliza.css">
            <main>
                <div class="info">
                    <span>
                        <h3>Suas Informações</h3>
                    </span>
                    <form>
                        <h4>rua</h4>
                        <h4>bairro</h4>
                        <h4>estado/cidade</h4>
                        <h4>nome cliente</h4>
                        <h4>cep</h4>
                    </form>
                </div>
                <div class="pay">
                    <span>Fomas de Pagamento</span>
                </div>
                <div class="pedido">
                    <h3>Resumo do Pedido</h3>
                    <button class="continuar">Continuar</button>
                </div>
                
            </main>
    </body>

    </html>