<%-include("partes/head")%>

    <body>
        <link rel="stylesheet" href="css/finaliza.css">
        <link rel="stylesheet" href="css/geral.css">
        <%-include("partes/header")%>
            <div class="produtos">
                <form>
                    <div id="titulo">
                        <span>Produtos</span>
                    </div>

                    <label class="frete ">
                        <span>frete</span>
                    </label>

                    <label class="preco total">
                        <span>total</span>
                    </label>
                </form>
            </div>
            <div class="forma pagamento">
                
            </div>
            <button type="submit"> Confirmar Pagamento </button>
    </body>

    </html>