<%-include("partes/head")%>

    <body>
        <link rel="stylesheet" href="css/finaliza.css">
        <link rel="stylesheet" href="css/geral.css">
        <%-include("partes/header")%>
           
    </body>

    </html>