<%%-include("partes /head")>

    <body>
        <link rel="stylesheet" href="css/home.css">
        <%-include("partes /header")%>
            <main>
                <div class="divcolor">
                    <div><img src="img\depositodemadeira2.jpg" alt="" /></div>
                    <div>
                        <h4>Nome</h4>
                    </div>
                    <div>
                        <input type="text" name="uma breve info" id="">
                    </div>
                    <div class="divrow">
                        <h4>preço</h4>
                        <h4>add</h4>
                    </div>
                </div>
                <div class="divcolor">
                    <div><img src="img\depositodemadeira.jpg" alt="" /></div>
                    <div>
                        <h4>Nome</h4>
                    </div>
                    <div>
                        <input type="text" name="uma breve info" id="">
                    </div>
                    <div class="divrow">
                        <h4>preço</h4>
                        <h4>add</h4>
                    </div>
                </div>
                <div class="divcolor">
                    <div><img src="img\depositodemadeira3.jpg" alt="" /></div>
                    <div>
                        <h4>Nome</h4>
                    </div>
                    <div>
                        <input type="text" name="uma breve info" id="">
                    </div>
                    <div class="divrow">
                        <h4>preço</h4>
                        <h4>add</h4>
                    </div>
                </div>
                <div class="divcolor">
                    <div><img src="img\depositodemadeira4.jpg" alt="" /></div>
                    <div>
                        <h4>Nome</h4>
                    </div>
                    <div>
                        <input type="text" name="uma breve info" id="">
                    </div>
                    <div class="divrow">
                        <h4>preço</h4>
                        <h4>add</h4>
                    </div>
                </div>
            </main>
    </body>

    </html>