<<<<<<< HEAD
<%- include("partes/head") %>
=======
<%%-include("partes /head")>
>>>>>>> a642a4790ae7eebfb2ef6cba4f08df05a811a1b6

    <body>
        <link rel="stylesheet" href="css/geral.css">
        <link rel="stylesheet" href="css/home.css">
        <%- include("partes/header") %>

                
           
    </body>
    <%- include("partes/footer") %>
    </html>

