<%- include("partes/head") %>

    <body>
        <link rel="stylesheet" href="css/geral.css">
        <link rel="stylesheet" href="css/home.css">
        <%- include("partes/header") %>

                
        <%- include("partes/footer") %>   
    </body>
    

