<<<<<<< HEAD
<%-include("partes/head")%>
=======
<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/Home.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>EUCALYPTUS</h1>

      <div class="buscar">
        <label>
          <input type="text" />
        </label>
      </div>

      <div class="bolinha">
        <button type="submit">carrinho</button>
      </div>
      <div class="bolinha">
        <button type="submit">Perfil</button>
      </div>
    </header>

    <main>
      <div class="divcolor">
        <div><img src="public\img\madeira2.jpg" alt="" /></div>
        <div>
          <h4>Nome</h4>
        </div>
        <div>
            <input type="text" name="uma breve info" id="">
        </div>
        <div class="divrow">
          <h4>preço</h4>
          <h4>add</h4>
        </div>
      </div>
      <div class="divcolor">
        <div><img src="public\img\madeira2.jpg" alt="" /></div>
        <div>
          <h4>Nome</h4>
        </div>
        <div>
            <input type="text" name="uma breve info" id="">
        </div>
        <div class="divrow">
          <h4>preço</h4>
          <h4>add</h4>
        </div>
      </div>
      <div class="divcolor">
        <div><img src="public\img\madeira2.jpg" alt="" /></div>
        <div>
          <h4>Nome</h4>
        </div>
        <div>
            <input type="text" name="uma breve info" id="">
        </div>
        <div class="divrow">
          <h4>preço</h4>
          <h4>add</h4>
        </div>
      </div>
      <div class="divcolor">
        <div><img src="public\img\madeira2.jpg" alt="" /></div>
        <div>
          <h4>Nome</h4>
        </div>
        <div>
            <input type="text" name="uma breve info" id="">
        </div>
        <div class="divrow">
          <h4>preço</h4>
          <h4>add</h4>
        </div>
      </div>
    </main>
  </body>
</html>
=======
<%%-include("partes /head")>
>>>>>>> 9d235ee97be5ba156d66ccb2da8b1c43d9b2e5c2

    <body>
        <link rel="stylesheet" href="css/.css">
        <link rel="stylesheet" href="css/home.css">
        <%-include("partes /header")%>
            <main>
                <div class="divcolor">
                    <div><img src="img\depositodemadeira2.jpg" alt="" /></div>
                    <div>
                        <h4>Nome</h4>
                    </div>
                    <div>
                        <input type="text" name="uma breve info" id="">
                    </div>
                    <div class="divrow">
                        <h4>preço</h4>
                        <h4>add</h4>
                    </div>
                </div>
                <div class="divcolor">
                    <div><img src="img\depositodemadeira.jpg" alt="" /></div>
                    <div>
                        <h4>Nome</h4>
                    </div>
                    <div>
                        <input type="text" name="uma breve info" id="">
                    </div>
                    <div class="divrow">
                        <h4>preço</h4>
                        <h4>add</h4>
                    </div>
                </div>
                <div class="divcolor">
                    <div><img src="img\depositodemadeira3.jpg" alt="" /></div>
                    <div>
                        <h4>Nome</h4>
                    </div>
                    <div>
                        <input type="text" name="uma breve info" id="">
                    </div>
                    <div class="divrow">
                        <h4>preço</h4>
                        <h4>add</h4>
                    </div>
                </div>
                <div class="divcolor">
                    <div><img src="img\depositodemadeira4.jpg" alt="" /></div>
                    <div>
                        <h4>Nome</h4>
                    </div>
                    <div>
                        <input type="text" name="uma breve info" id="">
                    </div>
                    <div class="divrow">
                        <h4>preço</h4>
                        <h4>add</h4>
                    </div>
                </div>
            </main>
    </body>

    </html>
