<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/listagem.css">
    <title>Document</title>
</head>

<body>
    <%-include("partes/header")%>
    <a class="produtobuscado">
        <input type="text" name="produto buscado">
    </a>
    <main>
            
            <div class="divcolor">
                <div><img src="img\depositodemadeira2.jpg"></div>
                <div>
                    <h4>Nome</h4>
                </div>
                <div>
                    <input type="text" name="uma breve info" id="">
                </div>
                <div class="divrow">
                    <h4>preço</h4>
                    <h4>add</h4>
                </div>
            </div>
            <div class="divcolor">
                <div><img src="img\depositodemadeira.jpg" alt="" /></div>
                <div>
                    <h4>Nome</h4>
                </div>
                <div>
                    <input type="text" name="uma breve info" id="">
                </div>
                <div class="divrow">
                    <h4>preço</h4>
                    <h4>add</h4>
                </div>
            </div>
            <div class="divcolor">
                <div><img src="img\depositodemadeira3.jpg" alt="" /></div>
                <div>
                    <h4>Nome</h4>
                </div>
                <div>
                    <input type="text" name="uma breve info" id="">
                </div>
                <div class="divrow">
                    <h4>preço</h4>
                    <h4>add</h4>
                </div>
            </div>
            <div class="divcolor">
                <div><img src="img\depositodemadeira4.jpg" alt="" /></div>
                <div>
                    <h4>Nome</h4>
                </div>
                <div>
                    <input type="text" name="uma breve info" id="">
                </div>
                <div class="divrow">
                    <h4>preço</h4>
                    <h4>add</h4>
                </div>
            </div>
    </main>
    <footer>
        <div>
            
        </div>
    </footer>
</body>

</html>