<%-include("partes/head")%>

    <body>
        <link rel="stylesheet" href="css/eucalipto-foto.jpg.css">
        <link rel="stylesheet" href="css/login.css">
        <div class="login">
            <form action="/login">
                <div class="guarda">
                    <label>
                        <div id="titulo">
                            <h1>Eucalyptus</h1>
                        </div>

                        <label class="baremail">
                            <span class="email">Email</span>
                            <input type="text" name="email" id="email" placeholder="Informe seu email">
                        </label>

                        <label class="barsenha ">
                            <span class="senha">Senha</span>
                            <input type="password" name="senha" id="senha" placeholder="Informe seu senha">
                        </label>
                        <div id="esqueceu">
                            <a href="#" style="color: rgb(0, 0, 0)" class="bar esqueci">esqueceu a senha ?</a>
                        </div>
                        <div id="entrar">
                            <button type="submit">Entrar</button>
                        </div>
                    </label>
                </div>
            </form>
        </div>
    </body>

    </html>