<%-include("partes/head")%>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
    <title>Document</title>
</head>

<body>
    <div class="login">
        <form action="/login">
            <label>
                <div id="titulo">
                    <h1>Eucalyptus</h1>
                </div>
                
                <label class="baremail">
                    <span class="email">Email</span>
                    <input type="text" name="email" id="email" placeholder="Informe seu email">
                </label>
                
                <label class="barsenha ">
                    <span class="senha">Senha</span>
                    <input type="password" name="senha" id="senha" placeholder="Informe seu senha">
                </label>
                <div id="esqueceu">
                    <a href="#" style="color: rgb(0, 0, 0)" class="bar esqueci">esqueceu a senha ?</a>
                </div>
                <div id="entrar">
                    <button type="submit">Entrar</button>
                </div>
            </label>
        </form>
    </div>
</body>

</html>