<%- include("partes/head") %>

    <body>
        <link rel="stylesheet" href="css/eucalipto-foto.jpg.css">
        <link rel="stylesheet" href="css/login.css">
        <main>
            <div class="login">
                <form action="/login" method="post">
                    <div class="logar">
                        <img src="img/Eucalyptus2.png" alt="">
                        <label>
                            <label class="baremail">
                                <span class="email">Email</span>
                                <input type="text" name="email" id="email" placeholder="Informe seu email">
                            </label>

                            <label class="barsenha ">
                                <span class="senha">Senha</span>
                                <input type="password" name="senha" id="senha" placeholder="Informe seu senha">
                            </label>

                            <div id="esqueceu">
                                <a href="#" class="barEsqueci">esqueceu a senha ?</a>
                                <button type="submit">Entrar</button>
                            </div>
                        </label>
                    </div>
                </form>
            </div>
        </main>
    </body>

    </html>