<%- include("partes/head") %>

    <body>
        <%- include("partes/header") %>
            <main>
                <section class="U">
                    <div class="usuario">
                        <img src="../img/usuario.png" alt="">
                        <h2>Nome de usuario</h2>
                    </div>
                    <div class="opcoes">
                        <h1>Alterar perfil</h1>
                        <h1>minha conta</h1>
                        <h1>meus cupons</h1>
                    </div>
                </section>
                <section class="">
                    <div class="tudo"></div>
                </section>
            </main>

            <%- include("partes/footer") %>
    </body>

    </html>