<%- include("partes/head") %>

    <body>
        <%- include("partes/header") %>
        <link rel="stylesheet" href="css/painel.css">
            <main>
                <section class="U">
                    <div class="usuario">
                        <img src="../img/usuario.png" alt="">
                        <h2>Nome de usuario</h2>
                    </div>
                    <div class="opcoes">
                        <div class="opcao">Alterar perfil</div>
                        <div class="opcao">minha conta</div>
                        <div class="opcao">meus cupons</div>
                        <div class="opcao">meus cupons</div>
                        <div class="opcao">meus cupons</div>
                        <div class="opcao">meus cupons</div>
                        
                </section>
                <section class="main">
                    <div class="tudo"></div>
                </section>
            </main>

            <%- include("partes/footer") %>
    </body>

    </html>