<%-include("partes/head")%>
    <link rel="stylesheet" href="css/geral.css">
    <link rel="stylesheet" href="css/painel.css">
<body>
    <%-include("partes/header")%>
    <%-include("partes/footer")%>
    <section class="campousuario"></section>
    <section></section>

    
</body>
</html>