<body>  
    <link rel="stylesheet" href="css/finaliza.css">
    <link rel="stylesheet" href="css/geral.css">
    <div>
        <head>
            <div></div>
            <div></div>
        </head>
    <div></div>
    <div></div>
    </div>
    <div></div>
</body>

