<%- include("partes/head") %>

    <body>
        <link rel="stylesheet" href="css/produto.css">
        <link rel="stylesheet" href="css/geral.css">
        <%- include("partes/header") %>
            <main>
                <div class="produtointerno">
                <div class="produtofotos">
                    <ul>
                        <li><img src="img/madeira2.jpg" alt=""></li>
                        <li><img src="img/madeira2.jpg" alt=""></li>
                        <li><img src="img/madeira2.jpg" alt=""></li>
                        <li><img src="img/madeira2.jpg" alt=""></li>
                        <li><img src="img/madeira2.jpg" alt=""></li>
                        <li><img src="img/madeira2.jpg" alt=""></li>
                    </ul>
                    <img class="imgproduto" src="img/madeira2.jpg" alt="">
                </div>
                <div class="produto">
                    <div class="descricao">
                        <h2 class="nomedaloja">Nome: </h2>
                        <h4 class="nomedaloja">Madeira de carvalho</h4>
                        <p class="preco">Preco: R$ 420</p>
                        <input class="texto" type="text" name="descricao" id="descricao">
                    </div>
                    <div class="informacoes">
                        <h1 class="nomedaloja">informacoes</h1>
                        <form action="produtoInterno.ejs" id="cep">
                            <div>
                                <label for="cep">Cep:</label>
                                <input class="cep" type="text" id="cep">
                            <div>
                            </div>
                                <label for="cep">Frete:</label>
                                <input class="frete" type="text" id="frete">
                            </div>
                        </form>
                        <input class="comprar" type="button" value="comprar">
                        <input class="adicionar" type="button" value="adicionar ao carrinho">
                    </div>
                </div>
            </div>
            </main>
            <%- include("partes/footer") %>
    </body>