main {
    display: flex;
    margin: 10px 0px 20px 0px;;
}

section h3 {
    margin-left: 15px;
    margin-top: 0px;
}

section {
    margin: 0;
    margin-bottom: 30px;
}

.produtos {
    display: flex;
    justify-content: space-around;
}

.produto {
    background-color: rgb(255, 255, 255);
    width: 215px;
    height: 265px;
    border-radius: 7px;
    margin: 0px;
    padding: 0px;
}

.produto img {
    border-radius: 7px 7px 4px 4px ;
    width: 215px;
}

.carro button {
    margin: 0 0 0 150px;
    padding: 5px;
    background-color: white;
    border: 1px black solid;
    border-radius: 3px;
    width: 50px;
}

.carousel img{
    width: 1340px;
    margin: 0;
    height: 300px;
}