main {
    display: flex;
    margin: 10px 0px 20px 0px;;
}

section h3 {
    margin-left: 15px;
    margin-top: 10px;
}

section {
    margin: 50px 0px 30px 0px;
}

section h2 {
    margin: 40px 0 30px 30px; 
}

a {
    color: black;
}

.produtos {
    display: flex;
    justify-content: space-around;
    margin: 30px 15px 30px 15px;
}

.produto {
    background-color: rgb(255, 255, 255);
    width: 250px;
    max-height: 352px;
    border-radius: 7px;
    margin: 0px;
    padding: 0px;
    filter: drop-shadow(0px 3px 5px #878788);
    -webkit-transition: all 0.7s ease;
    transition: all 0.7 ease;
}

.produto:hover{
    -webkit-transform: scale(0.1);
    transform: scale(1.07);
}

.produto img {
    border-radius: 7px 7px 4px 4px ;
    width: 100%;
    max-height: 150px;
}

.carro {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: flex-end;
    margin-right: 5px;
}

.carro button {
    
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    width: 50px;
    height: 30px;
    background-color: #df7318;
    filter: drop-shadow(0px 0px 5px #878788);
    color: white;
}

.slides input{
    display: none;
}

.slide img{
    width: 100%;
    height: 400px;
}

.slider {
    margin: 0 auto;
    width: 950px;
    height: 400px;
    overflow: hidden;
    padding-top: 25px;
    position: relative;
    z-index: -1;
}
.slider2 {
    margin: 0 auto;
    width: 950px;
    overflow: hidden;
    padding-top: 25px;
    position: relative;
    z-index: -1;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;

}

.slide{
    width: 25%;
    position: relative;
    transition: 3s;
}

.manual-navigation{
    position: absolute;
    width: 950px;
    margin-top: -25px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FFFFFF;
    padding: 4px;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 50px;
}

.manual-btn:hover{
    background-color: #FFFFFF;
}

#radio1:checked~.first {
    margin-left: 0;
}
#radio2:checked~.first {
    margin-left: -25%;
}
#radio3:checked~.first {
    margin-left: -50%;
}
#radio4:checked~.first {
    margin-left: -75%;
}