<footer>
    <div class="atendimento">
        <ul>
            <h1>ATENDIMENTO AO CLIENTE</h1>
            <li>Central de Ajuda</li>
            <li>Garantia</li>
            <li>Fale Conosco</li>
        </ul>
    </div>
    <div class="sobreNos">
        <ul>
            <h1>SOBRE O EUCALYPTUS</h1>
            <li>Sobre Nos</li>
            <li>Nossas Politicas</li>
        </ul>
    </div>
    <div class="pagamento">
        <h1>PAGAMENTO</h1>
    </div>
    <div class="redesSociais">
        <h1>REDES SOCIAIS</h1>
    </div>
</footer>