<header>
    <div class="container">
        <h1>EUCALYPTUS</h1>
    <div class="pesquisa">
        <input type="text" placeholder="O que você procura?">
        <img src="img/lupa.jpg" alt="">
    </div>
        <div>
            <button type="submit">carrinho</button>
            <button type="submit">Perfil</button>
        </div>
    
    </div>
</header>