<header>
<<<<<<< HEAD
    <img class="Eucalyptus" src="../img/Eucalyptus.png" alt="">
<div class="buscar">
    <input type="text" class="barbusca" placeholder="O que você procura?">
    <div class="pesquisar"> <img src="../img/lupa.png" alt=""></div>
</div>   
    <div class="agrupar">
        <a class="conta" href="">Crie sua conta</a>
        <img src="../img/usuario.png" alt="" class="perfil">
        <img class="carrinho" src="../img/carrinho.png" alt="">
=======
    <div class="container">
        <h1>EUCALYPTUS</h1>
    <div class="pesquisa">
        <input type="text" placeholder="O que você procura?">
        <img src="img/lupa.jpg" alt="">
    </div>
        <div>
            <button type="submit">carrinho</button>
            <button type="submit">Perfil</button>
        </div>
    
>>>>>>> a642a4790ae7eebfb2ef6cba4f08df05a811a1b6
    </div>

</div>
</header>