<header>
    <h1>EUCALYPTUS</h1>

    <div class="buscar">
        <label>
            <input type="text" class="barbusca">
        </label>
    </div>

    <div>
        <button type="submit">carrinho</button>
    </div>
    <div class="bolinha">
        <button type="submit">Perfil</button>
    </div>
</header>