<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body> 
     <from action="/login" method="post">
         <label>
        
        <h1>CILK ROAD STORE</h1>
        <span>E_mail</span>
        <input type="text" name="email" id="email">
        <label >
            <span>Senha</span>
        <input type="password" name="senha" id="senha">
    </label>
    
    <div>
        <button type="submit">Entrar</button>
    </div>
</from>
</body>
</html>